:root {
    font-family: 'Courier New', Courier, monospace;
    --backgrnd-clr: linear-gradient(315deg, hsl(45, 100%, 33%), hsl(170, 100%, 33%));
    --backgrnd-box: rgba(255, 255, 255, .4);
    --btn-hvr-clr: hsla(0, 100%, 100%, .8);
    --ui-backgrnd-clr: hsl(245, 33%, 25%);
    --transition-speed: 200ms;
}

*, *::before, *::after {
    box-sizing: border-box;

}

body {
    margin: 0;
    background: var(--backgrnd-clr);
}

main {
    margin: 0 0 0 3rem;
}

.main-head {
    background: var(--ui-backgrnd-clr);
    position: static;
    margin-bottom: 20px;
    padding: 0;
    height: 15%;
    width: 100%;
}

.main-ul-nav {
    padding: 5px 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.main-ul-nav > * {
    color: white;
}

.main-head::after {
    content: '';
    display: block;
    position: static;
    width: 100%;
    height: 12.5px;
    background: linear-gradient(0deg, hsla(0, 0%, 75%), hsla(0, 0%, 75%), white);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.title {
    color: white;
    text-shadow: 2px 2px 3px black;
    font-family: cursive;
    margin-top: 0;
}

.sidenav {
    position: fixed;
    margin: 0 0 0 .5rem;
    transition: var(--transition-speed);
    top: 50%;
}

.nav-arrow-right {
    height: 5vw;
    width: 5vw;
    background-color: aliceblue;
    padding: .75rem;
    border-radius: 50%;
    transition: var(--transition-speed);
    transform: scale(1.20);
}

.sidenav:hover .nav-arrow-right {
    transform: translate(150%);
    opacity: 0%;
}

.sidenav-ul{
    margin: 0 0 0 0;
    padding: .5rem .5rem;
    list-style: none;
    background-color: var(--ui-backgrnd-clr);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-200%, -50%);
    transition: var(--transition-speed);
}

.sidenav:hover .sidenav-ul {
    transform: translate(0, -50%);
}

.side-nav-item {
    color: white;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-svg {
    max-width: 75%;
    max-height: 75%;
}

.sidenav:hover .side-nav-item {
    display: block;
}

.nav-link:link {
    color: snow;
}

.nav-link:visited {
    color: mintcream;
}

.main-foot {
    background: var(--ui-backgrnd-clr);
    position: static;
    margin-top: 20px;
    padding: 0;
    height: 15%;
    width: 100%;    
}

.main-foot::before {
    content: '';
    display: block;
    position: static;
    width: 100%;
    height: 12.5px;
    background: linear-gradient(0deg, hsla(180, 0%, 75%), hsla(0, 0%, 75%), white);
    border-top: 1px solid black;
    border-bottom: 1px solid black;    
}

.foot-ul {
    margin: 0;
    padding: 15px 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}

.foot-ul > * {
    color: white;
}